.submit-button {
  border-radius: 3px;
  padding: 10px;
  background-color: green;
  color: white;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: darkgreen;
    color: white;
    transition: 0.3s;
  }
}