.button {
  border-radius: 3px;
  border: 1px solid $off-black;
  outline: none;
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transition: 0.3s;
  }
}

.submit-button {
  border: 1px solid $submit;
  background-color: $submit;
  color: white;

  &:hover {
    background-color: darken($submit, 10%);
    color: white;
  }
}
